h1 {
    color: white;
    text-shadow:
        2px 2px 4px black;
}

p {
    color:white;
    font-size: 20px;
    text-shadow:
        2px 2px 4px goldenrod
}

h2 {
    color: white;
    text-shadow:
        2px 2px 4px goldenrod
}

body {
    background-color: #66023c;
}

.mijn-foto {
    border-radius: 30px;
    border : 5px solid gold;
    width : 300px;
    height: auto;
}

img{
    width:500px;
    height: auto;
}

div {
    border: black 2px solid;
    color : white;
    font-size : 18px;
    margin-top : 20px;
    margin-bottom : 20px;
    background-color: darkslateblue;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1em; 
}

form label,
form input,
form textarea {
    display: block;
    margin-bottom: 10px;
    width: 300px;
}

li {
  margin-right: 20px;
}